# Ignore virtual environments
venv/

# Django-specific files
__pycache__/
*.py[cod]
db.sqlite3

# Environment variables
.env

# Static and Media files
staticfiles/
media/

# IDE-specific files
.vscode/
*.idea/
